@import '~@angular/material/theming';

// Material Theming
$primary: mat-palette($mat-purple);
$accent: mat-palette($mat-green);
$warn: mat-palette($mat-red);

$theme: mat-dark-theme($primary, $accent, $warn);

$background-color: map-get($mat-grey, 900);
