
doctype html
div.box(fxLayout="column")

  button(md-raised-button, color="primary", (click)="login()") Enter
  button(md-raised-button, color="warn", (click)="logout()") Exit

  md-card
    p Some content
