doctype html
.container(fxLayout="column", fxLayoutAlign="start stretch")
  // No games
  div(*ngIf="(games | async)?.length === 0", fxLayout="column", fxLayoutAlign="start center")
    p There are no games running.
    button(md-raised-button, color="primary", routerLink="/games/new") CREATE ONE

  // Games list
  md-card(*ngFor="let game of games | async", [routerLink]="['/games', game.$key]")
    md-card-title {{ game.$key }} | {{ game.title }}
    md-card-subtitle hostId: {{ game.hostId }}

