doctype html
md-toolbar(color="primary")
  content(fxLayout="row", fxLayoutAlign="space-between center", fxFlexFill)
    .right(routerLink="/") Hilarity Cards
    .left
      button(md-raised-button, color="accent", (click)="login()") JOIN
