doctype html
md-toolbar(color="primary")
  content(fxLayout="row", fxLayoutAlign="space-between center", fxFlexFill)
    .right(routerLink="/") Hilarity Cards
    .left
      button(md-raised-button, routerLink="/auth", color="accent") JOIN

router-outlet
