@import '../styles/fonts';

.container { padding: 16px; }

h1 {
  margin-bottom: 0;
  @include font(display2);
}
.subheading {
  margin-top: 8px;
  @include font(headline);
  font-style: italic;
}

p { text-align: center; }

.description, .status {
  max-width: 600px;
  @include font(body1);
  text-align: justify;
}

button { margin-top: 20px; }
