doctype html
div(fxLayout="column", fxLayoutAlign="start center")
  h1 Hilarity Cards
  p.subheading A game where being a disgusting human being is actually encouraged

  p.description.
    Hilarity Cards is a game based on
    <a href="https://cardsagainsthumanity.com" target="_blank">Cards Against Humanity</a>
    where you play combinations of cards to make jokes and enjoy with friends.

  p.status.
    The game is in alpha and open-sourced in
    <a href="https://github.com/ShadowManu/hilarity-cards" target="_blank">GitHub</a>,
    where you can see development and contribute. Please do so!

  button(md-raised-button, routerLink="/auth", color="primary") SIGN IN AND PLAY!
